@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Index</h1>
        <p>Faça seu Cadastro</p>
        <p>@Html.ActionLink("Cadastrar Usuario", "Cadastro")</p>

        <p>Faça seu Login</p>
        <p>@Html.ActionLink("Login Usuario", "Login")</p>
    </div>

</body>
</html>
